@import '../bower_components/normalize-scss/normalize';
@import url(//fonts.googleapis.com/css?family=Fira+Sans:400,500,700,400italic,700italic);

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: $primary;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;  
  }
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
