//Primary Content Regions
#top-bar {
  background: $white;
  height: 60px;
}

#bottom-bar {
  background: $dark-grey;
  color: $light-grey;
}

//Modifiers
.l-flexbody {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  #main {
    flex: 1;
  }
}

.l-text-left {
  text-align: left;
}

.l-text-center {
  text-align: center;
}

.l-text-right {
  text-align: right;
}
