body {
  background: $body-background;
  color: $dark-grey;
  font-family: $body-font;
}

#stage {
  margin-top: $double-grid;
}

#container {
  flex: 1;
}

.l-centered {
  margin: 0 auto;
}

.l-flex {
  display: flex;
  
  &-body {
    @extend .l-flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &-horizontal {
    @extend .l-flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &-horizontal-centered {
    @extend .l-flex;
    align-items: center;
    justify-content: space-around;
  }

  &-vertical {
    @extend .l-flex;
    flex-direction: column;

    &-centered {
      @extend .l-flex-vertical;
      align-items: center;
      justify-content: center;
      min-height: 100%;
    }
  }
}
