body {
  background: $body-background;
  color: $dark-grey;
  font-family: $body-font;
}

#stage {
  margin-top: $octo-gap;
}

#container {
  flex: 1;
}

.l-flex {
  display: flex;
  
  &-body {
    @extend .l-flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &-horizontal {
    @extend .l-flex;
    align-items: center;
    justify-content: space-between;
  }
}
