.is-hidden {
  display: none;
}

.is-succcess {
  color: $success;
}

.is-warning {
  color: $warning;
}


@mixin is-border-state-machine($border-width, $base-color, $engaged-color) {
  border: $border-width solid $base-color;
  transition: all $fast;
  &:hover, &:focus {
    border-color: $engaged-color;
  }
}
