.hidden {
  display: none;
}

.succcess {
  color: $success;
}

.warning {
  color: $warning;
}

.triggered {
  background: linear-gradient(to bottom, #060606 0%, #2d2d2d 100%);
}


@mixin border-state-machine($border-width, $base-color, $engaged-color) {
  border: $border-width solid $base-color;
  transition: all $fast;

  &:hover,
  &:focus {
    border-color: $engaged-color;
  }
}
