// Typography
$body-font: 'Fira Sans', sans-serif;

//Color: these are made up right now :)
$primary: #0bc7b1;

$body-background: #f2f2f2;
$white: #ffffff;
$light-grey: #eeeeee;
$dark-grey: #333333;

$success: #00ff00;
$warning: #ff0000;
