/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import '../bower_components/normalize-scss/normalize';
@import 'fonts';

body {
  font-family: 'Fira Sans', sans-serif;
}
