.actions {
  list-style: none;
  margin: 0;
  padding: 0;
  
  .medium &,
  .large & {
    @extend .l-flex;
    clear: both;

    li {
      @extend .l-flex-horizontal;
    }

    a {
      flex: 0 0 $default-grid;
      height: $default-grid;
    }
  }

  .small & {

    a {
      display: block;
      float: left;
      height: $default-grid;
      width: $default-grid;
    }
  }



  .destroy a {
    @include hidpi-background-image(icon-delete, 20px 20px);
    background-position: center center;
    background-repeat: no-repeat;

    &:hover {
      @include hidpi-background-image(icon-delete-hover, 20px 20px);
    }

    &:active {
      @include hidpi-background-image(icon-delete-active, 20px 20px);
    }
  }
}

