.notification {
  @extend .row;
  height: $double-grid;

  &.dismissable {
    background: $primary;
    color: $white;

    a {
      color: $white;
      text-decoration: underline;
    }
  }

  &.static {
    background: $white;
    box-shadow: 0 1px 1px $translucenter-black;
    position: absolute;
    top: 0;
    z-index: 100;

    p {
      margin: $double-gap 0;
      text-align: center;
    }
  }
  
  > div {
    align-items: center;
  }

  p {
    flex: 1;
    font-size: $default-font-size;
    margin: 0;
  }
}
