.user-page {
  background: $white;
  border: 1px solid $baby-grey;
  // negative spread keeps the shadow from leaking out the sides
  box-shadow: 0 2px 4px -3px rgba(0, 0, 0, 0.14);
  overflow: auto;
  padding: $double-gap;

  .image {
    display: block;

    img {
      @include two-by-three(270px);
    }

    &.right {
      float: right;
      margin-left: $double-gap;
    }

    &.left {
      float: left;
      margin-left: 0;
      margin-right: $double-gap;
    }
  }

  .provider {
    margin-bottom: $default-gap;

    .favicon {
      height: $half-grid;
      margin-right: 5px;
      vertical-align: -3px;
      width: 1$half-grid;
    }

    .name {
      font-size: $small-font-size;
      font-weight: 500;
    }
  }

  .title {
    font-size: $large-font-size;
    line-height: 120%;
    margin: 0 0 $default-gap 0;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .description {
    color: $satan-grey;
    font-size: $default-font-size - 2;
  }

  // Size variations

  &.medium {
    .image img {
      @include two-by-three(160px);
    }
  }

  &.medium,
  &.small {
    .provider {
      float: left;
      height: $half-grid;
      margin: 0;

      .favicon {
        margin-right: 8px;
        vertical-align: 1px;
      }

      .name {
        display: none;
      }
    }

    .title {
      font-size: $default-font-size - 1;
    }
  }

  &.small {
    display: flex;
    align-items: center;
    background: lighten($body-background, 1);
    margin-top: $default-gap;
    padding: $default-gap $double-gap;

    .image,
    .provider .name,
    .description {
      display: none;
    }

    .title {
      flex: 1;
      margin: 0;
    }
  }

  // Fancy sibling selectors to achieve groupings

  // small after another small
  &.small + &.small {
    border-top-width: 0;
    margin-top: 0;
  }

  // medium or large after a small
  &.small + &.medium,
  &.small + &.large {
    margin-top: $default-gap;
  }

  // medium or large after one another
  &.medium + &.large,
  &.large + &.medium,
  &.large + &.large,
  &.medium + &.medium {
    border-top-width: 0;
  }
}
