{
  "db": {
    "elasticsearch": {
      "host": "127.0.0.1",
      "port": 9200,
      "queryTimeout": 15000
    },
    "postgres": {
      "host": "localhost",
      "port": 5432,
      "user": "chronicle",
      "database": "chronicle",
      "password": "chronicle",
      "queryTimeout": 15000
    },
    "redis": {
      "host": "127.0.0.1",
      "port": 6379
    }
  },
  "env": "local",
  "embedly": {
    "apiKey": "",
    "enabled": true
  },
  "url2png": {
    "apiKey": "",
    "secretKey": ""
  },
  "email": {
    "fromEmail": "info@chronicle.firefox.com",
    "smtp": {
      "host": "localhost",
      "port": 25,
      "auth_user": "",
      "auth_pass": ""
    }
  },
  "server": {
    "host": "127.0.0.1",
    "port": 8080,
    "staticPath": "public",
    "staticDirListing": true,
    "log": {
      "app": "chronicle",
      "debug": false,
      "fmt": "pretty",
      "level": "info"
    },
    "session": {
      "password": "Wh4t3ver.",
      "isSecure": false,
      "duration": 86400000
    },
    "oauth": {
      "clientId": "1f9bbddcb3e160ab",
      "clientSecret": "24bf8caeaa685e2e42d9a75b48511f83adffaf6fcdd174ce8749358a376be911",
      "scope": ["chronicle", "profile"],
      "version": "2.0",
      "protocol": "oauth2",
      "redirectEndpoint": "http://localhost:8080/auth/complete",
      "authEndpoint": "https://oauth-latest.dev.lcip.org/v1/authorization",
      "tokenEndpoint": "https://oauth-latest.dev.lcip.org/v1/token",
      "profileEndpoint": "https://latest.dev.lcip.org/profile/v1/profile"
    }
  },
  "testUser": {
    "enabled": true
  }
}
