{
  "db": {
    "elasticsearch": {
      "host": "127.0.0.1",
      "port": 9200
    },
    "mysql": {
      "host": "127.0.0.1",
      "port": 3306,
      "user": "root",
      "password": ""
    },
    "redis": {
      "host": "127.0.0.1",
      "port": 6379
    }
  },
  "env": "local",
  "server": {
    "log": {
      "app": "chronicle",
      "debug": true,
      "fmt": "pretty",
      "level": "verbose"
    },
    "host": "127.0.0.1",
    "port": 8080
  }
}
